#articulos {
  background-color: rgba(35, 190, 14, 0.3);
  margin-top: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
.contenedor {
  margin: 0px 10 0px 2px;
  display: flex;
  flex-wrap: wrap;
 text-align: center;
}

.telefonia-celular {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 10px 2px;
  background-color: gray;
  text-align: center;
}

img {
  width: 200px;
  padding: 5px;
  margin:20px ;
  text-align: center;
}
img:hover{
  transform: scale(1.3);

}
article {
  width: 280px;
  text-align: center;
  margin: 20px;

}

h3{
  text-align: left;
  font-size: 20px;
  padding-top: 30px;
}

h4{
  justify-content: space-between;
}