* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
max-height: 500px; 
width: 100%;   


}

header {
    background-color: hsl(250, 90%, 45%);
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 0;
    color: white;
    font-size: 2em;

}

 h1{
font-size: 1.8em;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

 }


 p {
     margin-right: 5px;
    font-size: 16px;
    color: white;
}
 h3,h4{
     vertical-align: auto;
     text-align: center;
 }

    

#cuadro_botones {
    text-align: center;
}

button {
    color: #fff;
    background-color: #0a0cf5;
    padding: 2%;
    border-radius: 20em;
    font-weight: bolder;
    box-shadow: 0 0 10px 0 #333;
    border: 3px solid #fff;
    margin: 10px;
    cursor: pointer;
    /* font-size: 1em;*/
    text-transform: uppercase;
}

button:hover {
    box-shadow: 0 0 20px 0 #333;
}